:root {
    --color-oscuro: #0f172a;
    --color-claro: #f1f5f9;
    --color-gris-claro: #cbd5e1;
    --color-borde-left: #eeb933;
    --background-primary: #14b8a6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr min(90ch, 100%) 1fr;
    width: 99vw;
    height: 95vh;
    font-family: "Roboto", sans-serif;
    color: var(--color-oscuro);
}
body > * {
    grid-column: 2;
}
h5 {
    font-size: 12px;
}
.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    margin-top: 15px;
}
/*aside area start*/
.aside-content {
    background-color: var(--background-primary);
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 4px 0 0 4px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.aside-content > div:nth-child(1), div:nth-child(7) {
    margin-bottom: 20px;
}
.aside-item {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
    color: var(--color-claro);
    cursor: pointer;
}
.aside-item > img {
    width: 16px;
    filter: invert(100%);
}

.dashboard > img {
    width: 24px;
}
/*aside area end*/

/*header area start*/
.header-content {
    background-color: var(--color-claro);
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 0 4px 0 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .3fr .7fr;
    align-items: center;
    z-index: 3;
    -webkit-box-shadow: 2px 4px 7px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 4px 7px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 4px 7px 1px rgba(0,0,0,0.15);
    padding-top: 5px;
}
.header-content > div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    gap: 0 5px;
}
.header-item {
    display: flex;
    margin: 3px 20px;
    align-items: center;
    gap: 0 10px;
}
.header-content > .header-item > input {
    width: 100%;
    border: none;
    background-color: var(--color-gris-claro);
    border-radius: 15px;
}
input:focus {
    outline: solid 2px var(--color-gris-claro);
}

.header-item > img[src$=".svg"] {
    width: 16px;
    filter: invert(50%);
}

.header-item > button {
    padding: 3px 10px;
    width: 60px;
    height: 20px;
    font-size: 8px;
    font-weight: 600;
    background-color: var(--background-primary);
    color: var(--color-claro);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.header-item > button:hover {
    height: 25px;
    transition: 500ms;
}
.avatars {
    width: 30px;
    border: 2px solid var(--background-primary);
    border-radius: 50%;
}
.main-user-photo {
    width: 40px;
} 

/*header area end*/

/* main area start */
.main-content {
    background-color: var(--color-gris-claro);
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 0 0 4px 0;
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.item-content {
    display: grid;
    grid-template-rows: .4fr 4fr;
}

.tags-container {
    display: grid;
    gap: 1rem;
    grid-auto-rows: minmax(110px, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(18ch, 1fr));
}
.tags-container > .tags {
    color: var(--color-oscuro);
    background-color: var(--color-claro);
    padding: 5px 8px;
    border-left: 5px solid var(--color-borde-left);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 2px 4px 7px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 4px 7px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 4px 7px 1px rgba(0,0,0,0.15);
}
.tags-items > p, h6 {
    line-height: .8;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
}
.tags-simbols {
    display: flex;
    justify-content: flex-end;
}
.tags-simbols > img {
    width: 12px;
    margin-left: 10px;
}
small {
    font-size: 10px;
}
/* main area end */